<app-menubar></app-menubar>
<h2>Gerenciamento de Despesas</h2>

<div class="gerenciamento-container">
  <p-card class="formulario">
    <form (ngSubmit)="addDespesa()">
      <div class="p-fluid">
        <div class="p-field">
          <label for="descricao">Descrição:</label>
          <input pInputText [(ngModel)]="novaDespesa.descricao" id="descricao" name="descricao" required />
        </div>

        <div class="p-field">
          <label for="valor">Valor:</label>
          <input type="number" pInputText [(ngModel)]="novaDespesa.valor" id="valor" name="valor" required />
        </div>

        <div class="p-field">
          <label for="data">Data:</label>
          <input type="date" pInputText [(ngModel)]="novaDespesa.data" id="data" name="data" required />
        </div>

        <div class="p-field">
          <label for="categoria">Categoria:</label>
          <input pInputText [(ngModel)]="novaDespesa.categoria" id="categoria" name="categoria" required />
        </div>

        <button pButton type="submit" icon="pi pi-plus" label="Adicionar Despesa"></button>
      </div>
    </form>
  </p-card>

  <p-card class="lista-despesas">
    <h3>Lista de Despesas</h3>
    <ul class="despesa-list">
      <li *ngFor="let despesa of despesas" class="despesa-item">
        <p-card>
          <div class="despesa-info">
            <span>{{ despesa.descricao }}</span>
            <span>{{ despesa.valor | currency }}</span>
            <span>{{ despesa.data | date }}</span>
            <span>{{ despesa.categoria }}</span>
          </div>
          <button pButton icon="pi pi-trash" class="p-button-danger" (click)="deleteDespesa(despesa.id)" label="Excluir"></button>
        </p-card>
      </li>
    </ul>
  </p-card>
</div>
