
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

/* Global styles */

/* Estilos gerais para formulário de adição */
.p-card {
    margin: 2rem auto;
    padding: 2rem;
    max-width: 600px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  }
  
  .p-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
  
    label {
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
  
    input, select {
      padding: 0.75rem;
      border: 1px solid #dcdcdc;
      border-radius: 5px;
      font-size: 1rem;
    }
  
    input[type="number"] {
      -moz-appearance: textfield;
    }
  
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  
  button[pButton] {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    border-radius: 5px;
    margin-top: 1rem;
  }
  
  .p-button {
    background-color: #007ad9;
    border: none;
    color: #fff;
    font-weight: bold;
  }
  
  .p-button:hover {
    background-color: #005f9e;
  }
  
  /* Estilos para as listas */
  .receita-list, .despesa-list {
    list-style-type: none;
    padding: 0;
    margin: 2rem auto;
    max-width: 800px;
  }
  
  .receita-item, .despesa-item {
    margin-bottom: 1rem;
  }
  
  .p-card {
    margin-bottom: 1rem;
    padding: 1.5rem;
  }
  
  .receita-info, .despesa-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
  
    span {
      margin-right: 10px;
    }
  }
  
  button[pButton][pButtonDanger] {
    background-color: #e74c3c;
    border: none;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    padding: 0.5rem 1rem;
  }
  
  button[pButton][pButtonDanger]:hover {
    background-color: #c0392b;
  }
  
  @media (max-width: 768px) {
    .receita-info, .despesa-info {
      flex-direction: column;
      align-items: flex-start;
    }
  
    button[pButton] {
      width: 100%;
      margin-top: 1rem;
    }
  }
  